<div class="container">
  <mat-card class="login-box">
    <mat-card-title>Super Aluno</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>

    <!-- E-mail input -->
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Digite seu e-mail">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <!-- Password input -->
    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Digite sua senha">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <!-- Buttons -->
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/home"> Login </button>
      <button mat-raised-button color="accent"> Cadastrar </button>
    </mat-card-actions>
  </mat-card>
</div>





<!-- <div class="container">
  <mat-card>

    <div>
      <div>
        <h1>Super Aluno</h1>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>E-mail</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>

      <div class="button-login">
        <button mat-raised-button color="primary">Entrar</button>
        <button mat-raised-button>Cadastrar</button>
      </div>
    </div>

  </mat-card>
</div> -->

<!-- <mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field>
</p>

<p *ngIf="error" class="error">
  {{ error }}
</p>

<div class="button">
  <button type="submit" mat-button>Login</button>
</div>

</form>
</mat-card-content>
</mat-card> -->
