<div class="header-editor">
  <h1>{{ caderno.assunto.nomeAssunto }}</h1>
  <div>
    <button mat-raised-button color="primary" class="button-editor">Solicitar Professor</button>
    <a href="https://www.youtube.com/watch?v=QvOX8l_0wKU&ab_channel=RespondeA%C3%AD" target="_blank">
      <button mat-raised-button color="primary" class="button-editor"> Assistir vídeo </button>
    </a>
    <a href="https://www.todamateria.com.br/movimento-retilineo-uniforme/">
      <button mat-raised-button color="primary" class="button-editor">Ler Conteúdo</button>
    </a>
  </div>
</div>

<form [formGroup]="form" >
  <button name="submitbtn" mat-raised-button color="primary" (click)="salvarConteudo()">Salvar</button>
  <editor
    formControlName = "texto"
    apiKey="d0exmxt1tqshul5yiu264ig5gissssdj5pw43x9dnyj4y8vl"
    [init]="{
      height: 500,
      entity_encoding: 'raw',

      plugins: [
      'fullscreen','autosave','quickbars','emoticons','code','advlist','autolink',
        'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
        'fullscreen','insertdatetime','media','table','help','wordcount'
      ],

      menubar: 'arquivo formatar inserir ajuda',

      menu: {
       arquivo: { title: 'Arquivo' , items: 'preview save | export print' },
       formatar: { title: 'Formatar', items: 'fontfamily fontsize blocks' },
       editar: { title: 'Editar', items: 'bold italic underline strikethrough | fontfamily fontsize blocks | selectall' },
       inserir: { title: 'Inserir', items: 'image link media addcomment pageembed template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor tableofcontents' },
       ajuda: { title: 'Ajuda', items: 'help' }
      },

      toolbar:
      'fullscreen | undo redo | formatpainter blocks | bold italic underline strikethrough | forecolor backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist checklist outdent indent | code table help',

      quickbars_selection_toolbar: 'bold italic underline | h1 h2 h3 | quicklink blockquote hr',
      quickbars_insert_toolbar: false,

      placeholder: 'Utilize este editor para guardar suas anotações'
    }"
  ></editor>
</form>

