<div class="container">
  <mat-card class="login-box">
    <mat-card-title>Super Aluno</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>

    <!-- E-mail input -->
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="usuario.emailUsuario"  placeholder="Digite seu e-mail">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <!-- Password input -->
    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="usuario.senhaUsuario" placeholder="Digite sua senha">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <!-- Buttons -->
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()" routerLink="/home"> Login </button>
      <button mat-raised-button color="accent"> Cadastrar </button>
    </mat-card-actions>
  </mat-card>
</div>
