<!-- <app-materia-list></app-materia-list> -->

<button mat-raised-button color="primary" class="create-button" (click)="criarCaderno()">Criar Caderno</button>

<mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  *ngFor="let materia of materiasUsuario">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon appMarginRightSm mat-list-icon color="primary">folder</mat-icon>
        {{ materia }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div appMarginLeftMd *ngFor="let caderno of cadernosUsuario">
      <div *ngIf="caderno.assunto.materia.nomeMateria == materia">
        <mat-icon appMarginRightSm mat-list-icon color="primary">note</mat-icon>
        <span (click)="abrirCaderno(caderno)">{{ caderno.assunto.nomeAssunto }}</span>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>
